
<div class="row">
    <div class="col-md-4">
        <figure class="card card-product-grid">
            <div class="img-wrap"> 
                <span class="badge badge-danger"> NEW </span>
                <img src="https://webobjects2.cdw.com/is/image/CDW/6276085?$product_search_result$">
                
            </div> 
            <figcaption class="info-wrap">
                <div class="fix-height">
                    <a href="#" class="title">Item1</a>
                    <div class="price-wrap mt-2">
                        <span class="price">$1280</span>
                        
                    </div> 
                </div>
                <a href="#" class="btn btn-block btn-primary">Add to cart </a>
            </figcaption>
        </figure>
    </div> 

    <div class="col-md-4">
        <figure class="card card-product-grid">
            <div class="img-wrap"> 
                <img src="https://webobjects2.cdw.com/is/image/CDW/6276085?$product_search_result$">
            
            </div>
            <figcaption class="info-wrap">
                <div class="fix-height">
                    <a href="#" class="title">Item2</a>
                    <div class="price-wrap mt-2">
                        <span class="price">$1280</span>
                    </div> 
                </div>
                <a href="#" class="btn btn-block btn-primary">Add to cart </a>  
            </figcaption>
        </figure>
    </div> 

    <div class="col-md-4">
        <figure class="card card-product-grid">
            <div class="img-wrap"> 
                <img src="https://webobjects2.cdw.com/is/image/CDW/6276085?$product_search_result$">

            </div> 
            <figcaption class="info-wrap">
                <div class="fix-height">
                    <a href="#" class="title">Item3</a>
                    <div class="price-wrap mt-2">
                        <span class="price">$1280</span>
                    </div>
                </div>
                <a href="#" class="btn btn-block btn-primary">Add to cart </a>  
            </figcaption>
        </figure>
    </div> 

    <div class="col-md-4">
        <figure class="card card-product-grid">
            <div class="img-wrap"> 
                <img src="https://webobjects2.cdw.com/is/image/CDW/6276085?$product_search_result$">

            </div>
            <figcaption class="info-wrap">
                <div class="fix-height">
                    <a href="#" class="title">Item4</a>
                    <div class="price-wrap mt-2">
                        <span class="price">$1280</span>
                    </div> 
                </div>
                <a href="#" class="btn btn-block btn-primary">Add to cart </a>  
            </figcaption>
        </figure>
    </div> 

    <div class="col-md-4">
        <figure class="card card-product-grid">
            <div class="img-wrap"> 
                <img src="https://webobjects2.cdw.com/is/image/CDW/6276085?$product_search_result$">

            </div> 
            <figcaption class="info-wrap">
                <div class="fix-height">
                    <a href="#" class="title">Item5</a>
                    <div class="price-wrap mt-2">
                        <span class="price">$1280</span>
                    </div> 
                </div>
                <a href="#" class="btn btn-block btn-primary">Add to cart </a>  
            </figcaption>
        </figure>
    </div> 

    <div class="col-md-4">
        <figure class="card card-product-grid">
            <div class="img-wrap"> 
                <img src="https://webobjects2.cdw.com/is/image/CDW/6276085?$product_search_result$">

            </div> 
            <figcaption class="info-wrap">
                <div class="fix-height">
                    <a href="#" class="title">Item6</a>
                    <div class="price-wrap mt-2">
                        <span class="price">$1280</span>
                    </div> 
                </div>
                <a href="#" class="btn btn-block btn-primary">Add to cart </a>  
            </figcaption>
        </figure>
    </div> 

    <div class="col-md-4">
        <figure class="card card-product-grid">
            <div class="img-wrap"> 
                <img src="https://webobjects2.cdw.com/is/image/CDW/6276085?$product_search_result$">

            </div> 
            <figcaption class="info-wrap">
                <div class="fix-height">
                    <a href="#" class="title">Item7</a>
                    <div class="price-wrap mt-2">
                        <span class="price">$1280</span>
                    </div> 
                </div>
                <a href="#" class="btn btn-block btn-primary">Add to cart </a>  
            </figcaption>
        </figure>
    </div> 

    <div class="col-md-4">
        <figure class="card card-product-grid">
            <div class="img-wrap"> 
                <img src="https://webobjects2.cdw.com/is/image/CDW/6276085?$product_search_result$">

            </div> 
            <figcaption class="info-wrap">
                <div class="fix-height">
                    <a href="#" class="title">Item8</a>
                    <div class="price-wrap mt-2">
                        <span class="price">$1280</span>
                    </div> 
                </div>
                <a href="#" class="btn btn-block btn-primary">Add to cart </a>  
            </figcaption>
        </figure>
    </div>
    <div class="col-md-4">
        <figure class="card card-product-grid">
            <div class="img-wrap"> 
                <img src="https://webobjects2.cdw.com/is/image/CDW/6276085?$product_search_result$">

            </div>
            <figcaption class="info-wrap">
                <div class="fix-height">
                    <a href="#" class="title">Item9</a>
                    <div class="price-wrap mt-2">
                        <span class="price">$1280</span>
                    </div> 
                </div>
                <a href="#" class="btn btn-block btn-primary">Add to cart </a>  
            </figcaption>
        </figure>
    </div>  
</div> 


